<div class="field">
    <%= form.label :railway, 'Name of railway line' %>
    <%= form.text_field :railway %>
</div>
<div class="field">
    <%= form.label :name, 'Station name' %>
    <%= form.text_field :name %>
</div>
<div class="field">
    <%= form.label :walk, 'How many minutes walk' %>
    <%= form.number_field :walk %>min/mins
</div>