<p id="notice"><%= notice %></p>
<h1>Property Detail</h1>
<p>
  <strong>Property:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>
<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>


<p>
  <strong>Building age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remark %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
